html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.center {
    margin: auto;
    display: inline-block;
    text-align: center;
}

#accountsPanel {
    text-align: center;
}

.accountsBox {
    display: inline-block;
    width: 100%;
}

    .accountsBox hr {
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 40px;
    }

.accountRow {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
}

.contentPanel {
    border: 1px solid gray;
			border-radius: 25px;
}

.nameTag {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.left {
    text-align: left;
}

.optionsTag {
    font-size: small;
    color: blue;
}
