html,
body {
    height: 100%;
    text-align: center;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    padding-bottom:0px;
    margin: auto;
    font-weight: 600;
}

    .signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .signin .form-control:focus {
            z-index: 2;
        }

    .signin input[type="text"] {
        margin-bottom: 10px;
    }

    .signin input[type="password"] {
        margin-bottom: 10px;
    }

.switchForms {
    border: none;
    padding: 0;
    background-color: inherit;
}

    .switchForms:hover {
        text-decoration: underline;
        color: dodgerblue;
    }
